*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.custom-body {
    min-height: 100vh;
    padding: 2rem;
    background: linear-gradient(to bottom right, #fce7f3, #e9d5ff, #ddd6fe);
  }
  
.heading{
 
    text-align: center;
    font-size: 2.2rem;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgba(95, 40, 167, 0.842);
}
.fpara{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: rgb(114, 88, 88);   
    text-align: center;
    margin-top: 12px;
    font-size: 1.1rem;
}
.grid-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
    gap:30px 30px;
    margin-left: 70px;
    width: 80%;
}
.grid-item{
   
    height: 130px;
    width:350px;
    background-color: white;
    border-radius: 10px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #6b21a8;
    font-size: 1.2rem;
    font-weight: 500;
}
.text{
    padding-left: 22px;
    padding-top: 22px;
}
.text2{
    color: #6b7280;
    font-size: 1rem;
    padding-top: 10px;
    padding-right: 5px;
}
.btn {
    margin-top: 45px;
    margin-left: 530px;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 1.1rem;
    background: linear-gradient(to right, rgb(130, 54, 228), rgba(235, 46, 235, 0.925), rgb(231, 102, 151));
    color: white; /* Optional: for better contrast */
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
  

